body
  font-family: 'Raleway', sans-serif
  background-color: #fff

h1, h2, h3, h3, h5, h6
  font-family: 'Raleway', sans-serif
  // font-weight: bold

h1
  text-align: center

.list-group-item
  .check
    margin-right: 10px

  .check
    cursor: pointer

  .text
    color: #333333
    cursor: pointer
    &:active
      color: #333333
    &:hover
      color: #333333
      text-decoration: none

    &.checked
      text-decoration: line-through

  &.active
    .text
      font-size: 20px

.module-box > div.blank
  background-color: #f0f0f0
  border: 2px dashed #e0e0e0
  margin-bottom: 20px
  border-radius(5px)
  text-align: center
  .btn
    margin: 10px

.footer
  margin-top: 3em
  text-align: center
