#todo-list.list-group

form#new-todo
  input.form-control(type="text", name="todo", placeholder="enter a new todo and press ENTER", autofocus)

.footer
  a(href="https://github.com/iampeter/backbone-marionette-gulp-seed", target='_blank') https://github.com/iampeter/backbone-marionette-gulp-seed
